@inject ITitleList TitleList

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LD.Assignment</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        @foreach (var menuItem in _menuItems)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> @menuItem.Title
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private List<TitleDto> _menuItems = new List<TitleDto>();
    
    protected async Task LoadMenu()
    {
        _menuItems = (await TitleList.GetTitleDtosAsync()).ToList();
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
